@charset "UTF-8";
.endCamBoard {
	width:80%;
	float:left;
	margin-left:20px;
	
}
	.view {
        width: 100%;
    }
    /* 
    .endcampaign_text{
        width:100%;
        height:50px;
    }
    .endList {
        width: 100%;
        height:400px;
    }
    
    .topdan{
        width:100%;
        height:600px;
        text-align: center;
    }
    .board {
    	text-align:center;
    	width : 80%;
    }
    .title{
    	border : 1px solid black;
    
    }
    
    boardList{
    	text-decoration : none;
    } */
     /* 페이징 부분 스타일 */
	li { 
		list-style: none; 
	}
	.paging {
		text-align:center;
		margin : 0 auto;
		height:50px;
		
	}
	.pagingNum {
        width:1000px;
        height:50px;
        text-align : center;
        margin : 0 auto;
    }
    .paginging {
    	width : 80%;
    	margin:0 auto;
    	text-align:center;
    	height:50px;
 
    }
    #tb{
    	margin: 0 auto;
    
    }

	.paging li {
		float: left;
		margin-right: 8px;
	}
	.paging li a {
		text-decoration: none;
		display: block;
		padding: 3px 7px;
		font-weight: bold;
		color: black;
	}
	.paging .disable {
		padding: 3px 7px;
		color: silver;
	}
	.paging .now {
		padding: 3px 7px;
		background-color: gray;
	}
	.paging li a:hover {
		background-color: gray;
		color: white;
	}
	ol {
		margin: 0 auto;
		width:30%;
	}
	
	